#contact, #linkedIn {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1rem;
    color: rgb(5, 36, 43);
    font-weight: 800;

}

.contact-container {
    background-color: skyblue;
    position: relative;
    border-radius: 2rem;
    margin: 12rem 9rem 0 9rem;

}

.contact-container::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3); 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 2rem;
}


.wrapper{
    min-height: 100vh;
}

section{
    flex: 1;
}

/*media query*/

@media screen and (max-width: 480px) {
    body, html{
        margin: 0;
        padding: 0;
    }

    #contact, #linkedIn{
        font-size: 1rem;
        white-space: nowrap;

    }

    #linkedIn a{
        white-space: nowrap;
        text-decoration: none;

    }

    .contact-container{
        padding: 1rem 9rem 0 9rem;
        margin-top: 4rem;
        margin-left: 3rem; 
        margin-right: 3rem;
    }


    
}